*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Gordita";
  color: var(--text-color);
  background-color: var(--body-bg-color);
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}
a,
img,
button,
textarea,
input {
  font-family: inherit;
  color: inherit;
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
  // Highlight on Touch device
  // -webkit-tap-highlight-color: transparent;
}

.icon {
  filter: var(--icon-color);
}

.multiline-ellipsis {
  display: -webkit-box;           
  -webkit-box-orient: vertical;  
  overflow: hidden;              
  text-overflow: ellipsis;       
  -webkit-line-clamp: 2;         
}
